body{
max-width: 1400px;
margin: 0 auto;
}

#mainbox {
    position: fixed; /*fijamos la posicion de la caja*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0px;
    top: 0px;
    bottom: 90%;
    left: 0%;
    right: 0%;
    width: auto;
    background-color: rgb(156, 198, 238);
}
.caja1 {
    text-align: right;
    padding: 0px;
    margin: 20px;
    display: flex;
    line-height: 30px;
    text-align: center;
    color:rgb(10, 10, 10);
    font-size: 20px;
}
.caja1:hover {
    background-color: rgb(241, 203, 247);
    color:purple;
    cursor:pointer;
    transition: all 0.4s linear; /* al pasar el raton se pone el color que queremos */
}
/* .iconomenu{
    display: none;
} */

#fotos{
display: flex;
margin-top: 10px;
}

.fotocentral{
    display: flex;
    flex-direction: column;
    margin:50px;
    margin-top: 120px;
    padding: 10px;
    background-color: white;
}

#fotomia {
    display: flex;
    justify-content: center;
}

.nombre{
    display: flex;
    flex-direction: column;
    justify-content: center ;
}

#descripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    border: 5px;
    background-color: plum;
    align-items: center;
}


#perfil{
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 justify-content: space-evenly;
 margin: 30px;
 padding: 20px;
 border: 3px dashed rgb(229, 210, 248);
}

.perfil2{
    display: flex;
    flex-direction: row;

}

.texto{
    display: flex;
    flex-direction: column;
    justify-self: left;
    margin: 30px;
    
}
#titulo {
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
}

/* .intereses{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0px;
} */

.iconos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#contenido{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;
    padding-top: 20px;

}
.experiencia{
    border: 3px solid rgb(156, 198, 238);
    margin: 10px;
    padding: 20px;
    
}

.estudios{
    border: 3px dashed rgb(229, 210, 248);
    margin: 10px;
    padding:20px;
}

.informatica{
    border: 3px solid rgb(156, 198, 238);
    margin: 10px;
    padding: 20px;
}

.portfolio{
    border: 3px dashed rgb(229, 210, 248);
    margin: 10px;
    padding: 20px;
}

#muestras {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: auto;
    flex-wrap: wrap; /*wrap hace que se pongan los objetos en diferentes lineas cuadno ya han ocupado una*/
  
}

.imagenes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;

}

.idioma{
    border: 3px solid rgb(156, 198, 238);
    margin: 10px;
    padding: 20px;
}

.contacto{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
    bottom: 0%;
    left: 0%;
    right: 0%;
    width: auto;
    background-color: rgb(156, 198, 238);
}

#boton {
    height: 20px;
    width: 80px;
}

@media all and (max-width: 768px){
    #mainbox {
        display: block;
        padding: 0%;
        margin: 0px;
        width: 100%;
        height: 40%;
        right: 0;
        left: 80%;
        background-color: rgb(156, 198, 238);
        
    }
    .caja1 {
        padding: 5px;
        color:rgb(10, 10, 10);
        margin: 5px;
        line-height: auto;
        text-align: right;
        font-size: 13px;
        /* transform: translateX(-100%); Para que se mueva de posición  */

    }
    .caja1:hover {
        background-color: rgb(241, 203, 247);
        color:purple;
        cursor:pointer;
        transition: all 0.4s linear; /* al pasar el raton se pone el color que queremos */
        
    }
    .iconomenu {
        display: block;
        padding: 0%;
        color:rgb(10, 10, 10);
        margin: 10px;
        line-height: 30px;
        text-align: right;
        font-size: 20px;
    }
    .iconomenu:hover{
        cursor:pointer;
    }
    

}
